.max-height {
    height: 100%;
}

#search {
    border-bottom: 0;
}
/*
#media-cards {
    display: flex;
    flex-wrap: wrap;
}*/

.grid-item { 
    float: left;
    width: 400px;
 }

.grid-item img {
    display: block;
    max-width: 100%;
}